isoxml_dotnet/resources/xsd_original/ISO11783_TaskFile_V4-3.xsd

<?xml version="1.0"?>
<!-- Schema revision date 2018-06-04, Schema version 4.3, TC version 4, schema revision 3 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1" elementFormDefault="qualified">
  <xs:include schemaLocation="ISO11783_Common_V4-3.xsd"/>
  <xs:element name="AFE">
    <xs:annotation>
      <xs:appinfo>
        <jaxb:class name="AttachedFile"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="A" use="required">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="FilenameWithExtension"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:ID">
            <xs:length value="12"/>
            <xs:pattern value="([0-9]|[A-Z]){8}.([0-9]|[A-Z]){3}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="B" use="required">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="Preserve"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:annotation>
            <xs:appinfo>
              <jaxb:typesafeEnumClass name="Preserve"/>
            </xs:appinfo>
          </xs:annotation>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:appinfo>
                  <jaxb:typesafeEnumMember name="TASK_CONTROLLER_DOES_NOT_NEED_TO_PRESERVE_ATTACHED_FILE"/>
                </xs:appinfo>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
              <xs:annotation>
                <xs:appinfo>
                  <jaxb:typesafeEnumMember name="PRESERVE_ON_TASK_CONTROLLER_AND_SEND_BACK_TO_FMIS"/>
                </xs:appinfo>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="C" use="required">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="ManufacturerGLN"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:anyURI">
            <xs:maxLength value="32"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="D" use="required">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="FileType"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:unsignedByte">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="254"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="E" use="optional">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="FileVersion"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="F" use="optional">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="FileLength"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:unsignedLong">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="4294967294"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="ISO11783_TaskData">
    <xs:annotation>
      <xs:appinfo>
        <jaxb:class name="ISO11783TaskDataFile"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element ref="AFE" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <jaxb:property name="AttachedFile"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element ref="BSN" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <jaxb:property name="BaseStation"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element ref="CCT" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <jaxb:property name="CodedComment"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element ref="CCG" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <jaxb:property name="CodedCommentGroup"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element ref="CLD" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <jaxb:property name="ColourLegend"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element ref="CTP" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <jaxb:property name="CropType"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element ref="CPC" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <jaxb:property name="CulturalPractice"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element ref="CTR" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <jaxb:property name="Customer"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element ref="DVC" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <jaxb:property name="Device"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element ref="FRM" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <jaxb:property name="Farm"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element ref="OTQ" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <jaxb:property name="OperationTechnique"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element ref="PFD" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <jaxb:property name="Partfield"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element ref="PDT" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <jaxb:property name="Product"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element ref="PGP" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <jaxb:property name="ProductGroup"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element ref="TSK" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <jaxb:property name="Task"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element ref="TCC" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <jaxb:property name="TaskControllerCapabilities"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element ref="VPN" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <jaxb:property name="ValuePresentation"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element ref="WKR" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <jaxb:property name="Worker"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element ref="XFR" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <jaxb:property name="ExternalFileReference"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:attribute name="VersionMajor" use="required" fixed="4">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="4">
              <xs:annotation>
                <xs:appinfo>
                  <jaxb:typesafeEnumMember name="THE_VERSION_OF_THE_SECOND_EDITION_PUBLISHED_AS_A_FINAL_DRAFT_INTERNATIONAL_STANDARD"/>
                </xs:appinfo>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="VersionMinor" use="required">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation xml:lang="en">
                            All minor versions up to 3 of the XML schema for this major version
                        </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="0">
              <xs:annotation>
                <xs:appinfo>
                  <jaxb:typesafeEnumMember name="ZERO"/>
                </xs:appinfo>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:appinfo>
                  <jaxb:typesafeEnumMember name="ONE"/>
                </xs:appinfo>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
              <xs:annotation>
                <xs:appinfo>
                  <jaxb:typesafeEnumMember name="TWO"/>
                </xs:appinfo>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
              <xs:annotation>
                <xs:appinfo>
                  <jaxb:typesafeEnumMember name="THREE"/>
                </xs:appinfo>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ManagementSoftwareManufacturer" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ManagementSoftwareVersion" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="TaskControllerManufacturer" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="TaskControllerVersion" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="DataTransferOrigin" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:appinfo>
                  <jaxb:typesafeEnumMember name="FMIS"/>
                </xs:appinfo>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
              <xs:annotation>
                <xs:appinfo>
                  <jaxb:typesafeEnumMember name="MICS"/>
                </xs:appinfo>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="lang" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:language">
            <xs:maxLength value="32"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="TCC">
    <xs:annotation>
      <xs:appinfo>
        <jaxb:class name="TaskControllerCapabilities"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="A" use="required">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="TaskControllerControlFunctionNAME"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:hexBinary">
            <xs:length value="8"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="B" use="required">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="TaskControllerDesignator"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="153"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="C" use="required">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="VersionNumber"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:annotation>
            <xs:appinfo>
              <jaxb:typesafeEnumClass name="VersionNumber"/>
            </xs:appinfo>
          </xs:annotation>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="0">
              <xs:annotation>
                <xs:appinfo>
                  <jaxb:typesafeEnumMember name="THE_VERSION_OF_THE_DIS1_FIRST_DRAFT_INTERNATIONAL_STANDARD"/>
                </xs:appinfo>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:appinfo>
                  <jaxb:typesafeEnumMember name="THE_VERSION_OF_THE_FDIS1_FINAL_DRAFT_INTERNATIONAL_STANDARD_FIRST_EDITION"/>
                </xs:appinfo>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
              <xs:annotation>
                <xs:appinfo>
                  <jaxb:typesafeEnumMember name="THE_VERSION_OF_THE_FDIS2_AND_THE_FIRST_EDITION_PUBLISHED_AS_AN_INTERNATIONAL_STANDARD"/>
                </xs:appinfo>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
              <xs:annotation>
                <xs:appinfo>
                  <jaxb:typesafeEnumMember name="THE_VERSION_OF_THE_SECOND_EDITION_PUBLISHED_AS_A_DRAFT_INTERNATIONAL_STANDARD_E2DIS"/>
                </xs:appinfo>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
              <xs:annotation>
                <xs:appinfo>
                  <jaxb:typesafeEnumMember name="THE_VERSION_OF_THE_SECOND_EDITION_PUBLISHED_AS_A_FINAL_DRAFT_INTERNATIONAL_STANDARD_E2FDIS"/>
                </xs:appinfo>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="D" use="required">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="ProvidedCapabilities"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:unsignedByte">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="63"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="E" use="required">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="NumberOfBoomsSectionControl"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:unsignedByte">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="254"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="F" use="required">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="NumberOfSectionsSectionControl"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:unsignedByte">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="254"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="G" use="required">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="NumberOfControlChannels"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:unsignedByte">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="254"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="XFR">
    <xs:annotation>
      <xs:appinfo>
        <jaxb:class name="ExternalFileReference"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="A" use="required">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="Filename"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:ID">
            <xs:length value="8"/>
            <xs:pattern value="(BSN|CCG|CCT|CLD|CPC|CTP|CTR|DVC|FRM|OTQ|PDT|PFD|PGP|TSK|VPN|WKR)[0-9][0-9][0-9][0-9][0-9]"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="B" use="required">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="Filetype"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:annotation>
            <xs:appinfo>
              <jaxb:typesafeEnumClass name="Filetype"/>
            </xs:appinfo>
          </xs:annotation>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:appinfo>
                  <jaxb:typesafeEnumMember name="XML"/>
                </xs:appinfo>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
