isoxml_dotnet/resources/xsd_converted/ISO11783_TimeLog_V4-3.xsd

<?xml version="1.0"?>
<!-- Schema revision date 2018-06-04, Schema version 4.3, TC version 4, schema revision 3 -->
<!-- This schema file contains the XML elements that can be used in the TLGxxxxx.xml file -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1" elementFormDefault="qualified">
  <xs:simpleType name="emptyString">
    <xs:restriction base="xs:string">
      <xs:length value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DLV">
    <xs:annotation>
      <xs:appinfo>
        <jaxb:class name="DataLogValue"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="A" use="required">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="ProcessDataDDI"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:hexBinary">
            <xs:length value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="B" type="emptyString" use="required">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="ProcessDataValue"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="C" use="required">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="DeviceElementIdRef"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="4"/>
            <xs:maxLength value="14"/>
            <xs:pattern value="(DET|DET-)([0-9])+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="D" use="optional">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="DataLogPGN"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:unsignedLong">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="262143"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="E" use="optional">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="DataLogPGNStartBit"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:unsignedByte">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="63"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="F" use="optional">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="DataLogPGNStopBit"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:unsignedByte">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="63"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="PTN">
    <xs:annotation>
      <xs:appinfo>
        <jaxb:class name="Position"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="A" use="required">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="PositionNorth"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:union memberTypes="emptyString">
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:minInclusive value="-90.0"/>
                <xs:maxInclusive value="90.0"/>
                <xs:fractionDigits value="9"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="B" use="required">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="PositionEast"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:union memberTypes="emptyString">
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:minInclusive value="-180.0"/>
                <xs:maxInclusive value="180.0"/>
                <xs:fractionDigits value="9"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="C" use="optional">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="PositionUp"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:union memberTypes="emptyString">
            <xs:simpleType>
              <xs:restriction base="xs:long">
                <xs:minInclusive value="-2147483648"/>
                <xs:maxInclusive value="2147483647"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="D" use="required">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="PositionStatus"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:union memberTypes="emptyString">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="0">
                  <xs:annotation>
                    <xs:appinfo>
                      <jaxb:typesafeEnumMember name="NO_GPS_FIX"/>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="1">
                  <xs:annotation>
                    <xs:appinfo>
                      <jaxb:typesafeEnumMember name="GNSS_FIX"/>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="2">
                  <xs:annotation>
                    <xs:appinfo>
                      <jaxb:typesafeEnumMember name="DGNSS_FIX"/>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="3">
                  <xs:annotation>
                    <xs:appinfo>
                      <jaxb:typesafeEnumMember name="PRECISE_GNSS"/>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="4">
                  <xs:annotation>
                    <xs:appinfo>
                      <jaxb:typesafeEnumMember name="RTK_FIXED_INTEGER"/>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="5">
                  <xs:annotation>
                    <xs:appinfo>
                      <jaxb:typesafeEnumMember name="RTK_FLOAT"/>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="6">
                  <xs:annotation>
                    <xs:appinfo>
                      <jaxb:typesafeEnumMember name="EST_DR_MODE"/>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="7">
                  <xs:annotation>
                    <xs:appinfo>
                      <jaxb:typesafeEnumMember name="MANUAL_INPUT"/>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="8">
                  <xs:annotation>
                    <xs:appinfo>
                      <jaxb:typesafeEnumMember name="SIMULATE_MODE"/>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="9">
                  <xs:annotation>
                    <xs:appinfo>
                      <jaxb:typesafeEnumMember name="RESERVED_9"/>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="10">
                  <xs:annotation>
                    <xs:appinfo>
                      <jaxb:typesafeEnumMember name="RESERVED_10"/>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="11">
                  <xs:annotation>
                    <xs:appinfo>
                      <jaxb:typesafeEnumMember name="RESERVED_11"/>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="12">
                  <xs:annotation>
                    <xs:appinfo>
                      <jaxb:typesafeEnumMember name="RESERVED_12"/>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="13">
                  <xs:annotation>
                    <xs:appinfo>
                      <jaxb:typesafeEnumMember name="RESERVED_13"/>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="14">
                  <xs:annotation>
                    <xs:appinfo>
                      <jaxb:typesafeEnumMember name="ERROR"/>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="15">
                  <xs:annotation>
                    <xs:appinfo>
                      <jaxb:typesafeEnumMember name="POSITIONSTATUS_VALUE_IS_NOT_AVAILABLE"/>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="E" use="optional">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="PDOP"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:union memberTypes="emptyString">
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:minInclusive value="0.0"/>
                <xs:maxInclusive value="99.9"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="F" use="optional">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="HDOP"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:union memberTypes="emptyString">
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:minInclusive value="0.0"/>
                <xs:maxInclusive value="99.9"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="G" use="optional">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="NumberOfSatellites"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:union memberTypes="emptyString">
            <xs:simpleType>
              <xs:restriction base="xs:unsignedByte">
                <xs:minInclusive value="0"/>
                <xs:maxInclusive value="254"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="H" use="optional">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="GpsUtcTime"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:union memberTypes="emptyString">
            <xs:simpleType>
              <xs:restriction base="xs:unsignedLong">
                <xs:minInclusive value="0"/>
                <xs:maxInclusive value="4294967294"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="I" use="optional">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="GpsUtcDate"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:union memberTypes="emptyString">
            <xs:simpleType>
              <xs:restriction base="xs:unsignedShort">
                <xs:minInclusive value="0"/>
                <xs:maxInclusive value="65534"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="TIM">
    <xs:annotation>
      <xs:appinfo>
        <jaxb:class name="Time"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element ref="PTN" minOccurs="0" maxOccurs="2">
          <xs:annotation>
            <xs:appinfo>
              <jaxb:property name="Position"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element ref="DLV" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <jaxb:property name="DataLogValue"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:attribute name="A" type="emptyString" use="required">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="Start"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="D" use="required">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="Type"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:annotation>
            <xs:appinfo>
              <jaxb:typesafeEnumClass name="TimeType"/>
            </xs:appinfo>
          </xs:annotation>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="4">
              <xs:annotation>
                <xs:appinfo>
                  <jaxb:typesafeEnumMember name="EFFECTIVE"/>
                </xs:appinfo>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
